:root {
  --black: #000000;
  --white: #ffffff;

  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #d4d4d4;
  --grey-400: #a3a3a3;
  --grey-500: #737373;
  --grey-600: #525252;
  --grey-700: #404040;
  --grey-750: #323232;
  --grey-800: #262626;
  --grey-850: #1e1e1e;
  --grey-900: #171717;
  --grey-950: #121212;

  --pink-500: #ff0089;

  --body-color: var(--grey-950);
  --header-color: var(--grey-850);
  --sidebar-color: var(--grey-800);
  --timeline-color: var(--grey-850);

  --sidebar-width: 64px;
  --header-height: 64px;
  --timeline-height: 300px;
}

body {
  background-color: var(--body-color);
}

.app {
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar stage'
    'sidebar timeline';
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: var(--header-color);
}

.sidebar {
  grid-area: sidebar;
  width: var(--sidebar-width);
  background-color: var(--sidebar-color);
}

.stage {
  grid-area: stage;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 16px 32px;
}

.preview-container {
  position: relative;
  height: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  color: var(--grey-400);
  font-size: 20px;
}

.controls > * + * {
  margin-left: 20px;
}

.preview {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  grid-area: timeline;
  background-color: var(--timeline-color);
  height: 96px;
}
